.container {
  margin-bottom: 15px;
  margin-left: -15px;
  margin-right: -15px;
  padding: 0 15px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 5px;
}
.header {
  display: grid;
  font-weight: bold;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) 100px;
  margin-bottom: 10px;
  margin-left: -15px;
  margin-right: -15px;
}
.headerColumn {
  padding: 0 15px;
}

.row {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) 100px;
  padding: 10px 0px;
  font-size: 14px;
  margin-left: -15px;
  margin-right: -15px;
  border-bottom: 1px solid #ccc;
}
.rowColumn {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 15px;
}

.txContentSnippet {
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  line-height: 14px;
  color: #676767;
}
.txContentSnippetHeader {
  font-family: "Roboto", sans-serif;
  color: black;
  text-decoration: underline;
  font-size: 14px;
}
.txContentSnippetText {
  padding: 5px 0;
  overflow: hidden;
}
.snippetLink {
  text-decoration: none;
}

.body {
  padding: 10px 0;
}

.tags {
  font-size: 12px;
}
.tag {
  margin-bottom: 5px;
  display: inline-block;
  margin-right: 10px;
  background-color: #f3f3f3;
  padding: 5px;
  border-radius: 3px;
}
.tag span {
  display: inline-block;
}

.tagValue {
  margin-left: 5px;
}
